body {
  background-color: #F8F9F9;
    background-image: url("/assets/img/burger.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
}

img {
  width: 15%;
}

.white_font {
  color: #FBFCFC;
}

.tiny_text {
  font-size: 11px;
  color: #5da82f;
}

.yellow_font {
  color: #FFFF00;
}

