body {
  background-color: #f4c242;
    background-image: url("/assets/img/burger.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
}

img {
  width: 15%;
}

.red_font {
  color: #bc001f;
}

.tiny_text {
  font-size: 11px;
  color: #5da82f;
}



